<!-- 指定スタイルシートを読み込む app/assets/stylesheet -->
<%= stylesheet_link_tag 'test' %>
<!-- 指定jsを読み込む app/assets/javascripts-->
<%= javascript_include_tag 'test' %>
<!-- jsクラスのuser-indexを範囲内に反映する -->
<!-- 変数@afをコントローラーからうけとる -->
<div class='users-index'><%= @af %></div>
